

html {
    min-height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.bg {
    /* The image used */
    background-color: #84cc73;
    /* Full height */
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.jumbotron {
    position: relative;
    object-fit:cover;
    background:no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height:300px;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.display-4{
    font-size:24px;
}

.galery-image {
    object-fit: cover;
    width:338px;
    height: 225.33px;
}
.card-img-top {
    min-width: 100%;
    width: auto;
    height: auto;
}

/*Text area color*/
.purple-border textarea {
    border: 1px solid #ba68c8;
}

.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}


.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}


.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

@media only screen and (min-width: 1130px) {
    #square {
        width: 533px;
        height: 533px;
    }
}

