@model Awwsp.ViewModels.ChildCreateVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layouts/_LayoutParent.cshtml";
}

<div class="bg-light flex-fill fill d-flex justify-content-start">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
