
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/SideBar.css" rel="stylesheet">

<div class="d-flex " id="wrapper">

    <!-- Sidebar -->
    @{Html.RenderPartial("LeftNav");}

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div id="SomeDiv" class="container-fluid">
            <h1 class="mt-4">Witaj w panelu rodzica</h1>
            <p>Wybierz akcję z menu po lewej stronie</p>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function () {
    $('.GetReviewsLink').on('click', function (e) {
        e.preventDefault();
        //var id = $(this).data('id');
        $.get('@Url.Action("IndexPartial","Manage")', /*{ id: id },*/ function (result) {
            $('#SomeDiv').html(result);
        });
    });
});
</script>
