
@{
    ViewBag.Title = "Index";
}


<div id="SomeDiv">
    <h1 class="text-center h1">Witaj w panelu rodzica wybierz opcję po lewej stronie</h1>
</div>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

</script>
