
@{
    ViewBag.Title = "Callendar";
}
<head>
    @* Calendar *@
    <link href='~/Content/fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar-4.3.1/packages/timegrid/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar-4.3.1/packages/list/main.css' rel='stylesheet' />

</head>


<div class="container py-4" id="calendar">
    
</div>


<script src='~/Content/fullcalendar-4.3.1/packages/interaction/main.js'></script>
<script src='~/Content/fullcalendar-4.3.1/packages/core/main.js'></script>
<script src='~/Content/fullcalendar-4.3.1/packages/daygrid/main.js'></script>

<script>
    $(function () {
        GetEventCalendar();
    });

    function GetEventCalendar() {

        $.get('Calendar/GetEvents')
            .done(function (data) {
                var IsSuccesfull = data.IsSuccesfull;

                    var events = [];

                    $.each(data.Data, function (idx, elemTask) {
                           events.push({
                        'id': elemTask.Id,
                        'title': elemTask.Title,
                        'start': elemTask.Start,
                        'end': elemTask.End,
                        'allDay': elemTask.AllDay,
                        'color': elemTask.Color,
                        'textColor': elemTask.TextColor
                    });
                    });
                  
                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['dayGrid'],
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        header: {
                            left: 'prevYear,prev,next,nextYear today',
                            center: 'title',
                            right: 'dayGridMonth,dayGridWeek,dayGridDay'
                        },
                        navLinks: true,
                        eventLimit: true,
                        eventClick: function (eventObj) {
                        },
                        events: events
                    });
                    calendar.render();
            });
    }


    function displayValidationErrors(errors) {
        var $ul = $('<ul>');
        $ul.empty();
        $.each(errors, function (idx,errorMessage) {
            $ul.append('<li>'+errorMessage+'</li>')
        })

        $('#errors').html($ul);
        $('#divErrors').show();
    }
</script>

