@model Awwsp.Models.News

@{
    ViewBag.Title = "Delete";
}

@{
    string imgSrc = string.Empty;
    if (Model.Photo != null)
    {
        var base64 = Convert.ToBase64String(Model.Photo.Image);
        imgSrc = string.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = "~/Content/Images/notfound.png";
    }
}

<section class="jumbotron text-center ">
    <div class="container">
        <h1>@Model.Title</h1>

        <h3>Are you sure you want to delete this?</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }, new { @class = "btn btn-dark" })
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })


        }


    </div>
</section>

<div class="py-5 bg-warning d-flex align-content-center">
    <div class="container">
        <div class="jumbotron text-center" style="background-image:url(@imgSrc)">
        </div>
    </div>
</div>


<div style="min-height:100px">

</div>