<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="home/index" class="brand-link">
        <img src="~/Content/Images/high-angle-photography-of-soccer-field-2935979.jpg" alt="AWWSP" class="brand-image  "
             style="opacity: .8">
        <span class="brand-text font-weight-light">AWWSP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item has-treeview">
                        <a href="/Admin/AllUsers" class="nav-link">
                            <i class="nav-icon fas fa-list-ol"></i>
                            <p>
                                Users
                            </p>
                        </a>

                    </li>
                }
                <li class="nav-item">
                    <a href="/child/create" class="nav-link">
                        <i class="nav-icon fas fa-sign-in-alt"></i>
                        <p>
                            Register child
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/child/create" class="nav-link">
                        <i class="nav-icon fas fa-terminal"></i>
                        <p>
                            Manage child/ren
                        </p>
                        <i class="fas fa-angle-left right"></i>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/child/create" class="nav-link">
                                <i class="nav-icon fas fa-sign-in-alt"></i>
                                <p>
                                    Register child
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Trophy/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p>
                            Trophies

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Callendar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Trophy/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Trophy/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            SelfTrain

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Health Food

                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

