<aside class="main-sidebar sidebar-light-teal">
    <!-- Brand Logo -->
    <a href="home/index" class="brand-link navbar-dark text-white">
        <img src="~/Content/Images/LogoMakr_8LKNHe.png" alt="AWWSP" class="brand-image circle">
        <span class="brand-text font-weight-light">Academy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar sidebar-light-teal">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
               
               
                <li class="nav-item has-treeview">
                    <a href="Player/YourTrophies" class="nav-link">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p>
                           Your Trophies
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-running"></i>
                        <p>
                            Self Train
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="/parent/food" class="nav-link">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p>
                            Health Food

                        </p>
                    </a>
                </li>
                
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Callendar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Trophy/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Child/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

