<div class="container">
    <div class="text-center display-4 pt-3">Healthy food for sports activity</div>
    <div class="jumbotron-fluid my-4" style="max-height:300px">
        <img class="img-fluid rounded" style="height: 300px; width: 100%; display: block; object-fit:cover" src="~/Content/Images/Food/pexels-photo-803963.jpeg" />
    </div>



    <div class="card my-4">
        <div class="card-header h1  text-center">Bananas</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/fruits-grocery-bananas-market-4621.jpg" /></div>
            <p class="card-text">
                At about 100 calories apiece, bananas are a great source of easy-to-digest sugar and natural electrolytes. “They may not be as convenient as bars or gels, but they’re a good option for people who are looking for a natural, less-processed alternative that basically does the same thing,” says Pluhar. They’re also a favorite post-event recovery food, and for good reason: One medium banana contains 422 mg of potassium, which your body needs to regulate fluids and prevent muscle cramps and spasms. Because you sweat out potassium during physical activity, it’s important to replenish as soon as possible afterward.
            </p>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header h1  text-center">Berries</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/abundance-berries-blueberries-close-up-1153655.jpg" /></div>
            <p class="card-text">
                Antioxidants such as vitamins A, C, and E help protect against oxidative stress and free radicals that form in the body during strenuous physical activity—and berries are one of the best sources out there, says Lewin. (Bonus: Eating lots of antioxidants also seem to help preserve muscle strength as you age, according to a 2009 study.)
            </p>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header h1  text-center">Salmon</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/brown-white-and-orange-round-food-on-table-top-41967.jpg" /></div>
            <p class="card-text">
                Oily fish like salmon, mackerel, and trout are good sources of lean protein and omega-3 fatty acids, which help reduce inflammation that can hamper athletic performance and contribute to chronic conditions like heart disease. Wild salmon generally contains fewer cancer-causing chemical contaminants than the farmed variety, but it can be expensive or hard to find at your grocery store; if that's the case, consider using canned wild salmon in chowders, salmon burgers, salads, or pastas. Most experts agree that eating seafood twice a week (or about 8 ounces total) is a good amount to reap its anti-inflammatory benefits. And stick to the fish instead of pills: A 2013 study (albeit, a controversial one) found that too much fish oil in a man’s diet may raise his risk for prostate cancer, though the actual cause may be rancid oil.
            </p>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header h1  text-center">Cruciferous Veggies</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/broccoli-vegetable-food-healthy-47347.jpeg" /></div>
            <p class="card-text">
                All vegetables are good vegetables when it comes to providing the vitamins and minerals your body needs for optimal performance. But some—including dark, leafy greens and members of the cruciferous family (like broccoli, cauliflower, brussels sprouts and kale)—have higher concentrations of antioxidants, fiber, and other important nutrients. As with fruits, it’s important to eat a variety of different colors, says Lewin—but, as a general rule, “darker is usually better.” One exception? Cauliflower, which holds its own against its colorful cousins in terms of health benefits and antioxidant properties.
            </p>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header h1  text-center">Nuts and Nut Butter</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/walnuts-in-a-bowl-1823476.jpg" /></div>
            <p class="card-text">
                Because they’re a natural combination of protein and healthy fats, nuts (and nut products) are a staple in many athletes’ diets. They’re also easy to digest, says Pluhar, and can help balance your blood sugar when paired with carbs. “If you were to eat a bagel all by itself, it would turn to sugar pretty quickly and you’d use up all of that energy right away,” says Pluhar. “But if you put some peanut butter or almond butter on that bagel, the protein and fat can help sustain those carbs over a longer period of time, in a non-invasive way that doesn’t upset your stomach.”
            </p>
        </div>
    </div>

    <div class="card my-4">
        <div class="card-header h1  text-center">Pasta</div>
        <div class="card-body">
            <div> <img class="img-fluid rounded" src="~/Content/Images/Food/closes-up-photo-of-macaroni-1437267.jpg" /></div>
            <div class="card-text">
                <p>
                    Protein may be important for building muscle, but carbohydrates are still the single most important component of an athlete’s diet. “Our bodies burn carbs as fuel,” says Jill Pluhar, R.D., a nutritionist with Brigham and Women’s Hospital in Boston. “We can also burn fat or protein, but we have to convert them into carbs first, which is more work for the body.”
                </p>
                <p>
                    So what kind of carbs should you eat? Most of the time, whole-grain varieties are best. They have more fiber and, usually, less added sugar than their refined white counterparts. The night before a big competition, though, switch to the simple stuff—plain pasta with red sauce at a pre-race pasta party, for example. “Fiber takes a while to get through your system and it can contribute to gastrointestinal distress, so reducing it before a big athletic event can help things run more smoothly,” says Pluhar.
                </p>
            </div>
        </div>












        <div class="pb-3"></div>
    </div>
</div>