
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}


<div class="container">


    <div class="text-center display-4 py-3">Training exercises</div>
    <nav class="nav nav-pills flex-column flex-sm-row " id="nav-tab" role="tablist">
        <a id="nav-individual-tab" data-toggle="tab" class="flex-sm-fill text-sm-center nav-link active" href="#nav-individual" role="tab">Inyividual training</a>
        <a id="nav-team-tab" data-toggle="tab" class="flex-sm-fill text-sm-center nav-link" href="#nav-team" role="tab">Team training</a>
    </nav>

    @*<div class="jumbotron-fluid my-4" style="max-height:300px">
            <img class="img-fluid rounded" style="height: 300px; width: 100%; display: block; object-fit:contain" src="~/Content/Images/Training/FreeVector-Vector-Arrows-Background.jpg" />
        </div>*@



    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade " id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
            <div class="card my-4 ">
                <div class="card-header h1  text-center">Football is a team!</div>
                <div class="card-body">
                    <div> <img class="img-fluid rounded" src="~/Content/Images/Training/pexels-photo-262524.jpeg" /></div>
                </div>
            </div>

            <div class="card my-4 ">
                <div class="card-header h1  text-center">Ball control/receiving technique exercise</div>
                <div class="card-body">

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-16by9" src="https://www.youtube.com/embed/wRnN4oJvxXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="row my-4 mx-1">
                <div class="card mr-2 col ">
                    <div class="card-header h1  text-center">Ball control/receiving technique exercise</div>
                    <div class="card-body">

                        <div class="flex-center"> <img class="img-fluid rounded" src="~/Content/Images/Training/exercise.jpg" /></div>

                        <p class="card-text">

                        </p>
                    </div>
                </div>
                <div class="card ml-2 col">
                    <div class="card-header h1  text-center">Ball control/dribbling in different directions 1v1 drill</div>
                    <div class="card-body">

                        <div class="flex-center"> <img class="img-fluid rounded" src="~/Content/Images/Training/1539743162.jpg" /></div>

                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <div class="card my-4 ">

                <div class="card-header h1  text-center">Training exercise 5+5v5+5 in a pentagon field with 5 mini goals</div>
                <div class="card-body">
                    <div class="flex-center"> <img class="img-fluid rounded" src="~/Content/Images/Training/EOPp0POWoAEfmuB.png" /></div>

                    <p class="card-text">
                    <p> Each team can play only with their wall players</p>
                    <p> Wall players 1-2 rule, inside the field free play</p>
                    <p>
                        When a wall plays back into the field the 2 goals he stands between are unlocked for scoring (within 3 touches)
                    </p>
                </div>
            </div>

        </div>

        <div class="tab-pane fade show active" id="nav-individual" role="tabpanel" aria-labelledby="nav-individual-tab">

            <div class="card my-4  ">
                <div class="card-header h1  text-center">How to train on your own?</div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y8i6QDPQ0v0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card my-4  ">
                <div class="card-header h1  text-center">Coerver 30 skills you should learn ball mastery</div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-16by9" src="https://www.youtube.com/embed/IeMYh7roBjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="card-text">

                    </p>
                </div>
            </div>
            <div class="card my-4  ">
                <div class="card-header h1  text-center">100 individual soccer training drills</div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-16by9" src="https://www.youtube.com/embed/z7jP3moQi9c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>

    </div>







    <div class="pb-3"></div>
</div>
