<head>
    <link rel="stylesheet" href="~/Content/Login.css" />
</head>

<div class="d-flex bg-coach min-vh-100 flex-column container-fluid">
    <div class="row flex-fill fill d-flex justify-content-start">
        <!-- I want this row height to filled the remaining height -->

        <div class="col rgba-black-slight  portlet-container portlet-dropzone bg-transparent p-0">
            <!-- if row is not the right to stretch the remaining height, this column also fine -->
            <div class="view flex-center">
                <div class="container-fluid full-bg-image d-flex align-items-center justify-content-center mask flex-center rgba-black-light ">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 text-center white-text"   >

                          <p class="display-3">Welcome Coach!</p>
                          <p class="display-4">What do you want to do?</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
