<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="home/index" class="brand-link">
        <img src="~/Content/Images/LogoMakr_8LKNHe.png" alt="AWWSP" class="brand-image  "
             style="opacity: .8">
        <span class="brand-text font-weight-light">Academy</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item has-treeview">
                        <a href="/Admin/AllUsers" class="nav-link">
                            <i class="nav-icon fas fa-list-ol"></i>
                            <p>
                                Users
                            </p>
                        </a>

                    </li>
                }
                <li class="nav-item">
                    <a href="/Coach/AcceptRegistration" class="nav-link">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>
                            Pending applications
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="/Coach/Players" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Players list
                        </p>
                    </a>

                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach"))
                {


                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>
                                Coach
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a href="/Coach/NewCoach" class="nav-link">
                                    <i class="fas fa-plus nav-icon"></i>
                                    <p>Add new coach</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Coach/AllCoach" class="nav-link">
                                    <i class="fas fa-list nav-icon"></i>
                                    <p>Show all</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p>
                            Calendar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Calendar/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Calendar/EventList" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p>
                            Trophy
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Trophy/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Trophy/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>
                            Age Group
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/AgeGroup/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AgeGroup/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Notification
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="Notification/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Create</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="Notification/Index" class="nav-link">
                                <i class="fas fa-list nav-icon"></i>
                                <p>Show all</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
