@model Awwsp.Models.Photo
@{
    ViewBag.Title = "Contact";
}


<section class="jumbotron   ">
    <div class="container">
        <h1 class="text-center">Contact</h1>
        <div class="row">
            <div class="col-md-4 offset-md-3">
                <p class="lead ">Adress: </p>
            </div> 
            <div class="col-md-4">
                <p class="lead text-muted">Wiejska 18, Bialystok 13-354</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-3 ">
                <p class="lead  ">Phone Number :</p>

            </div>
            <div class="col-md-4">
                <p class="lead  text-muted"> 730 818 124</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-3 ">
                <p class="lead  ">Account number</p>

            </div>
            <div class="col-md-4">
                <p class="lead  text-muted">4556 8521 8943 5138</p>

            </div>
        </div>
        

    </div>
</section>

<div class="py-5 bg-team bg-teal d-flex align-content-center" style="min-height:50%">
    <div style="min-height:400px"></div>
   </div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(51.508742, -0.120850),
            zoom: 5,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>